:root {
  //SIZES


  --sm-plus-text: 1.875rem;
  --l-txt: 2rem;
  --xl-txt: 3rem;


  //Colors
  --unit-bg-color: linear-gradient(90deg,rgba(51, 224, 23, 1) 0%, rgba(0, 0, 0, 1) 100%);
  --unit-radio-btn-color: #181515


}