.weather-card {
  max-width: 100%;
  height: 400px;
  justify-content: space-around;
  border: none;
}

.big-card {
  width: 800px;
}

.medium-card {
  width: 450px;
}

.favorite-weather-card-page {
  max-width: 400px;
  width: 100%;
}

.weather-card-header-title {
  display: flex;
}

.weather-card-main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.weather-card-temp-wrapper {
  display: flex;
  align-items: center;

  .temp-wrapper-temp-icon {
    font-size: 3rem;
    line-height: 1;
  }

  h1 {
    font-size: 3.375rem;
  }
}

.weather-card-footer {
  display: flex;
  justify-content: space-around;
  text-align: center;
}
