.navbar {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--navbar-height);
}

.navbar-theme-switcher {
  display: flex;
  position: absolute;
  top: 20px;
  right: 5px;
}