.navbar {
  position: relative;
  height: var(--navbar-height);
  width: 100%;
  display: flex;
  align-items: center;
}

.navbar-theme-switcher {
  display: flex;
  position: absolute;
  top: 20px;
  right: 5px;

  @media screen and (max-width: 650px) {
    position: static;
    margin-left: auto;
    z-index: 11;
  }
}