.modal {
  position: fixed;
  z-index: 10;
  opacity: 0;
  pointer-events: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.modal-overlay-content {
  z-index: 3;
}

.opened {
  pointer-events: auto;
  opacity: 1;
}