.navbar-weather {
  display: flex;
  flex-direction: column;
}

.navbar-weather-header {
  display: flex;
}

.navbar-weather-header-error-title {
  font-size: 35px;
  color: var(--error-txt-color);
}

.navbar-weather-info-date {
  text-align: right;
  span {
    font-size: 19px;
  }
}