.navbar-weather {
  display: flex;
  flex-direction: column;
}

.navbar-weather-header {
  display: flex;
}

.navbar-weather-header-img-container {
  width: 60px;
  height: 50px;

  img {
    width: 100%;
  }
}

.navbar-weather-header-title {
  font-size: 60px;
}

.navbar-weather-header-error-title {
  font-size: 35px;
  color: var(--error-txt-color);
}

.navbar-weather-info-date {
  text-align: right;
  span {
    font-size: 19px;
  }
}