.theme-switcher {
  border: none;
  background: transparent;
  width: 30px;
  height: 30px;

  svg {
    width: inherit;
    height: inherit;

    &:hover {
      transform: scale(1.05);
      transition: 0.3s ease-in-out;
    }
  }
  &:hover {
    background-color: transparent;
  }
}