.navbar-items {
  margin-left: auto;
}

@media screen and (width <= 650px) {
  .navbar-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}